body {

    width: 100%;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {

    width: 180px;
    height: 64px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 20px;
}

/* ------------------
----Header----------- */


header {


    height: 1320px;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 25px 240px;


}

/* nav bar */

nav {

    display: flex;
    justify-content: space-between;
    align-items: center
}

nav h3 {

    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

nav ul {

    display: flex;
    gap: 50px;
}

nav li {

    list-style-type: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.header-content {

    text-align: center;
    padding: 120px 240px 50px;
}

.header-title {

    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.header-description {

    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.banner {

    text-align: center;

}

.banner img {

    height: 600px;

}

/*------------------------------------------
--------- Feature list styles---------------- */

.feature-list {


    margin: 130px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.feature-list-details {

    /* width: 30%; */
    
}

.feature-list-img {
    /* width: 30%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-right: 60px;
}

.feature-list-img>img {

    width: 342px;
    height: 342px;
}

.feature-list-title {

    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.feature-list-title .of-our {

    color: #131313;
}

.feature-list-title .orange-text {

    color: #FF900E;
}

.feature-list-description {

    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}